/* src/styles/Register.css */
.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(194, 192, 192, 0.1);
    text-align: center;
  }
  
  .register-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .register-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-container button:hover {
    background-color: #218838;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }


  /* Login.css o Register.css */
.password-hint {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.5rem;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

